@import "tailwindcss";

.inputField {
  border: 2px solid black;
  border-radius: 4px;
  width: 200px;
  padding: 4px 4px;
}
.background {
  background: linear-gradient(
    120deg,
    #0f2027,
    #203a43,
    #2c5364,
    #00c6ff,
    #0072ff,
    #00f2fe
  );
  background-size: 400% 400%;
  animation: randomGradient 50s ease-in-out infinite;
}

@keyframes randomGradient {
  0% {
    background-position: 0% 50%;
  }
  15% {
    background-position: 100% 30%;
  }
  30% {
    background-position: 20% 80%;
  }
  45% {
    background-position: 80% 10%;
  }
  60% {
    background-position: 10% 90%;
  }
  75% {
    background-position: 90% 60%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.textBackground {
  font-size: 3rem;
  font-weight: bold;

  background: linear-gradient(
    120deg,
    #0f2027,
    #203a43,
    #2c5364,
    #00c6ff,
    #0072ff,
    #00f2fe
  );
  background-size: 400% 400%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 12px rgba(0, 200, 255, 0.6);

  animation: gradientMove 24s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 30%;
  }
  50% {
    background-position: 20% 80%;
  }
  75% {
    background-position: 90% 60%;
  }
  100% {
    background-position: 0% 50%;
  }
}
